.footer {
  text-align: center;
  font-family: 'Lobster Two', sans-serif;
  font-size: 1.2rem;
  padding-block: 1rem;
  color: white;
  letter-spacing: 1px;
  background-color: var(--bg-black);
}

@media screen and (max-width: 430px) {
  .footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 395px) {
  .footer {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 365px) {
  .footer {
    margin-top: 0rem;

    font-size: 0.8rem;
  }
}
